{% extends 'book/base.html' %}

{% block middle_area %}
    <h1>Welcome</h1>
    <p>
        Bookstores (called bookshops in the United Kingdom, Australia and most of the Commonwealth apart from Canada)
        may be either part of a chain, or local independent bookstores. Stores can range in size offering from
        several hundred to several hundred thousands of titles. They may be brick-and-mortar stores or internet only
        stores or a combination of both. Sizes for the larger bookstores exceed half a million titles.
        Bookstores often sell other printed matter besides books, such as newspapers, magazines and maps;
        additional product lines may vary enormously, particularly among independent bookstores. Colleges and
        universities often have their own student bookstore on campus that focuses on providing course textbooks
        and scholarly books, although some on-campus bookstores are owned by large chains such as WHSmith or
        Waterstone's in the United Kingdom, or Barnes & Noble College Booksellers in the United States, which is a
        private firm controlled by the chair of Barnes & Noble.
    </p>
    <hr>
    <h3></h3>
    <p></p>
{% endblock middle_area %}

{% block right_side %}
    <p><a href="{% url 'books' %}"><button type="button" class="btn btn-success">Books</button></a></p>
    <p><a href="{% url 'authors' %}"><button type="button" class="btn btn-success">Authors</button></a></p>
    <p><a href="{% url 'publishers' %}"><button type="button" class="btn btn-success">Publishers</button></a></p>
{% endblock right_side %}
